<h1>Add a new question:</h1>

<%= form_for [@survey, @question] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :question_text %>
  <%= f.text_area :question_text %>
  <p><%= f.submit %></p>
<% end %>